# This file subsumes the file 'abides/requirements.txt', except for the 
# requirement 'ray[rllib]==1.7.0', which causes inconsistencies in depency 
# versions. Since 'ray[rllib]' is only required for the demo 
# 'abides/notebooks/Demo_ABIDES-Gym.ipynb' we comment it out below.

# If you want to make use of functionalities in ABIDES that require 
# 'ray[rllib]', uncomment the requirement below and resolve incosistencies.

# For packages contained in both 'requirements.txt' and 'abides/requirements.txt'
# the versions originally specified in the latter are used to maintin consistency
# when running ABIDES simulator

# requires python==3.8 which comes with pip version 19.2.3

# requirements from 'abides/requirements.txt'
coloredlogs==15.0.1
gym==0.18.0
numpy==1.22.0
pandas==1.2.4
pomegranate==0.14.5
psutil==5.8.0
#ray[rllib]==1.7.0
scipy==1.7.0
tqdm==4.61.1

# further requirements for 'SignatureQLearning'
torch==1.6.0 
torchvision==0.7.0
signatory==1.2.3.1.6.0
matplotlib==3.7.1
jupyter==1.0.0


# for later versions of <signatory> the install options
# [--no-cache-dir] and [--force-reinstall] 
# might be needed, see 
# https://signatory.readthedocs.io/en/stable/pages/usage/installation.html


